@import "../../../base";
@import "../../../variables";

.ticket {
    margin-top: 20px;
    .seat {
        .seat__colume {
            font-size: $font-size-xxxxl;
            text-align: center;
            &-active {
                color: $seat-available;
            }
            &-disable {
                color: $seat-choosed;
            }
            &-selecting {
                color: $seat-selecting;
            }
            svg {
                cursor: pointer;
                transition: all 0.5s ease;
            }
            :hover {
                color: $text-color-hover-whitemain;
            }
        }
        .seat__note {
            @include flexOptions(space-around, center);
            background-color: $background-color-orange;
            border: 4px solid $border-color-dark-main;
            margin-top: 2rem;
            padding: 1rem 0;
            .seat__note-item {
                @include flexOptions(center, center);
                .seat__choosed {
                    color: $seat-choosed;
                }
                .seat__available {
                    color: $seat-available;
                }
                .seat__selecting {
                    color: $seat-selecting;
                }
                svg {
                    margin-right: 5px;
                }
            }
            h1 {
                margin: 0;
                font-size: $font-size-xxxl;
            }
        }
    }
}
@media (hover: hover) and (pointer: fine) {
    .seat__colume {
        :hover {
            color: red;
        }
    }
}


