@import "../../../base";
@import "../../../variables";

.user {
    margin: 20px;
    text-align: center;
    .show__tab {
        margin: auto;
        margin-bottom: 5px;
        width: 50%;
        ul {
            @include flexOptions(space-around, center);
            color: $text-color-white;
            list-style-type: none;
            margin-bottom: 0px;
            li {
                @include clearStylea;
                @include flexOptions(center, center);
                margin: 20px;
                text-align: center;
                text-decoration: none;
                list-style-type: none;
                background-color: $background-color-orange;
                padding: 0 78px;
                border-radius: 77px 90px 90px 0;
                margin: 0 -35px;
                font-weight: bold;
                font-size: 2rem;
                color: $text-color-white;
                box-shadow: 5px 5px 0 $box-shadow;
                transition: 0.5s;
                height: 45px;
                cursor: pointer;
            }
            .user__info-active {
                background-color: $background-color-hover-yellow;
                color: $text-color-black;
                a {
                    @include clearStylea;
                    color: black;
                }
            }
            a {
                @include clearStylea;
                color: white;
            }
        }
    }
}

/* responsive */

/* mobile ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .user {
        .show__tab {
            width: 90%;
            ul {
                padding-left: 0px;
                li {
                    font-size: $font-size-m;
                    padding: 0 15px;
                    margin: 0 -21px;
                    width: 159px;
                }
            }
        }
    }
}

/* ipad ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .user {
        .show__tab {
            width: 61%;
            ul {
                padding-left: 0px;
                li {
                    font-size: $font-size-m;
                    padding: 0 61px;
                    margin: 0px -30px;
                    height: 59px;
                    width: auto;
                }
            }
        }
    }
}
