@import "../../base";
@import "../../variables";

.search {
    &__notify {
        font-size: $font-size-xxxl;
        color: $text-color-white;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2rem;
    }
}

/* responsive */

/* mobile ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .search {
        margin-top: 51px;
        &__notify {
            font-size: $font-size-m;
        }
    }
    .movie-container {
        padding: 10px;
        .movie-container__main {
            display: block;
            .movie-container__main-img {
                padding: 0;
                img {
                    max-height: 450px;
                }
            }
            .movie-container__main-content {
                .movie-container__main-desc,
                .movie-container__main-type {
                    display: none;
                }
                .movie-container__main-name {
                    font-size: $font-size-m;
                    margin: 10px 0;
                    min-height: 10px;
                }
            }
        }
    }
}

/* ipad ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .search {
        margin-top: 51px;
        &__notify {
            font-size: $font-size-m;
        }
    }
    .movie-container {
        padding: 10px;
        .movie-container__main {
            display: block;
            .movie-container__main-img {
                padding: 0;
                img {
                    max-height: 570px;
                }
            }
            .movie-container__main-content {
                .movie-container__main-desc,
                .movie-container__main-type {
                    display: block;
                }
                .movie-container__main-name {
                    font-size: $font-size-m;
                    margin: 10px 0;
                    min-height: 10px;
                }
            }
        }
    }
}
