$main-color: #e00d7a;

$background-color-main: #e00d7a;
$background-color-white: #ffffff;
$background-color-orange: #f18720;
$background-color-black: rgba(0, 0, 0, 0.5);
$background-color-yellow: #fecf06;
$background-color-hover-whitemain: rgb(245, 61, 156);
$background-color-hover-dark-main: #7c2665;
$background-color-hover: #e00d7a;
$background-color-hover-yellow: #fecf06;
$background-color-overlay: rgba(193, 193, 193, 0.673);

$text-color-main: #e00d7a;
$text-color-white: #ffffff;
$text-color-black: #212529;
$text-color-orange: #f37420;
$text-color-hover: #f2b819;
$text-color-hover-whitemain: #bc92b1;
$text-color-hover-white: rgb(230, 230, 230);

$placeholder-color: #ee8fc0;

$box-color-border: #f18720;
$box-shadow: #0000001a;
$box-shadow-text: rgb(88, 83, 83);

$border-color-white: #ffffff;
$border-color-yellow: #f18720;
$border-color-black: rgba(0, 0, 0, 0.15);
$border-color-main: #e00d7a;
$border-color-dark-main: #7c2665;
$border-color-white-main: rgb(188, 146, 177);

$img-color-border: #f2c08f;

$movie-show-color: #f18720;
$movie-show-active: #fecf06;
$movie-item-color: #7c2665;
$movie-item-boder: #bc92b1;

$seat-choosed: rgb(112, 112, 112);
$seat-available: #7c2665;
$seat-selecting: royalblue;

$font-size-s: 1rem;
$font-size-m: 1.2rem;
$font-size-l: 1.4rem;
$font-size-xl: 1.6rem;
$font-size-xxl: 1.8rem;
$font-size-xxxl: 2rem;
$font-size-xxxxl: 3rem;
