@import "../base";
@import "../variables";

.copyright {
    padding: 24px 20px;
    background: $background-color-black;
    left: 0;
    bottom: 0;
    width: 100%;
    color: $text-color-white;
    text-align: center;
    p {
        font-weight: 100;
        font-size: $font-size-l;
        text-transform: uppercase;
    }
}

/* responsive */

/* mobile ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .copyright {
        p {
            font-size: 1.2rem;
        }
    }
}

/* ipad ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .copyright {
        p {
            font-size: 1.2rem;
        }
    }
}
