@import "../../../../base";
@import "../../../../variables";

.user__history-active {
    background-color: $background-color-hover-yellow;
    color: $text-color-black;
    display: block;
    text-align: center;
}
.user__history-disable {
    display: none;
}

.history {
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td,
    th {
        text-align: center;
        padding: 8px;
    }
    td {
        font-size: 1.4rem;
    }
    th {
        font-size: 1.6rem;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
}


/* responsive */

/* mobile ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .history {
        td {
            font-size: $font-size-m;
        }
        th {
            font-size: $font-size-m;
        }
        .disable {
            display: none;
        }
        .btn__ticket-payment, 
        .btn__ticket-delete {
            padding: 5px 0px;
            font-size: $font-size-m;
        }
    }
}

/* ipad ----------- */
@media only screen and (min-device-width:768px) and (max-device-width: 1024px) {
    .history {
        td {
            font-size: $font-size-l;
        }
        th {
            font-size: $font-size-l;
        }
    }
}
